<!doctype html>
<html lang="en">
<head>
	<title>Flask + MongoDB</title>
  <meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h2>Flask + MongoDB</h2>
			<p>CRUD Operations</p>
		</div>

		<!-- Flashed Messages (Feedback) -->
		{% from 'macros_helpers.html' import flash_alerts %}
		{{ flash_alerts(center_message=True) }}


		<div class="row">

			<!-- Add data to Database -->
			<div class="col-sm-6">
				<div class="well">
					<h3 class="text-center">Create</h3>
					<p class="text-center"><small>Add a document to a MongoDB collection of choice.</small></p>
					<form method="POST" action="/add">
						<div class="form-group">
							<label for="collection" class="control-label">MongoDB Collection:</label>
							<input type="text" id="collection" name="collection" class="form-control" value="{{ active_collection }}" required>
						</div>
						<div class="form-group">
							<label for="name" class="control-label">Name:</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Johnny" required>
						</div>
						<div class="form-group">
							<label for="location" class="control-label">Location:</label>
							<input type="text" id="location" name="location" class="form-control" placeholder="San Diego" required>
						</div>
						<button type="submit" class="btn btn-primary">Add</button>
					</form>
				</div><!-- .well -->
			</div><!-- .col-sm-6 -->

			<!-- Update data in Database -->
			<div class="col-sm-6">
				<div class="well">
					<h3 class="text-center">Update</h3>
					<p class="text-center"><small>Click <span class="glyphicon glyphicon-pencil"></span> in table below to edit a document.</small></p>
					<div id="updateArea"></div>
				</div><!-- .well -->
			</div><!-- .col-sm-6 -->

		</div><!-- .row -->

		
		<!-- Display content -->
		<div class="row">
			<div class="col-sm-12">
				<div class="well">
					<h3 class="text-center">Read and Delete</h3>

					<!-- Change current collection -->
					<form method="POST" action="/change_collection" class="form-inline">
						<div class="form-group">
							<label for="collection_name" class="control-label">Active Collection:</label>
							<select class="form-control" name="collection_name" id="collection_name">
								{% for collection in all_collections %}
									<option value="{{ collection }}">{{ collection }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Read</button>
					</form>

					<!-- Display content in current collection -->
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Location</th>
								<th>_id</th>
								<th>Modify / Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for item in data %}
								<tr data-id="{{ item._id }}" data-name="{{ item.name }}" data-location="{{ item.location }}">
									<td>{{ item.name }}</td>
									<td>{{ item.location }}</td>
									<td>{{ item._id }}</td>
									<td>
										<button class="btn btn-default edit-btn"><span class="glyphicon glyphicon-pencil"></span></button>
										<a href="{{ url_for('delete', id=item._id) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<p><small>_id is automatically assigned by MongoDB if not explicity assigned</small></p>
				</div><!-- .well -->
			</div><!-- .col-sm-12 -->
		</div><!-- .row -->


	</div><!-- .container -->

  <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>

  	$(document).ready(function(){

  		// Set value of select to active_collection
  		$('#collection_name').val({{ active_collection | tojson }});

  		// Add update form to DOM and populate
  		$('.edit-btn').click(function(){

  			// Clear old
  			$('#updateArea').empty();

  			// Get current values
  			var _id = $(this).closest('tr').data('id');
  			var name = $(this).closest('tr').data('name');
  			var location = $(this).closest('tr').data('location');
  			var current_values = [_id, name, location];
  			var keys = ['_id', 'name', 'location'];

  			// Build update form and add to DOM
  			var form = $('<form>', {'method': 'POST', 'action': '/update/' + _id}).appendTo($('#updateArea'));

  			$.each(keys, function(index, key){
  				var current_value = current_values[index];
  				console.log(key, current_value);
  				var formGroup = $('<div>', {'class': 'form-group'}).appendTo(form);
  				var label = $('<label>', {'for': 'update_' + key, 'class': 'control-label'}).text(key + ':').appendTo(formGroup);
  				var input = $('<input>', {'type': 'text', 'id': 'update_' + key, 'name': key, 'class': 'form-control', 'value': current_value}).appendTo(formGroup);
  				if (key == '_id'){
  					input.prop('readonly', 'true');
  				};
  			});

  			$('<button>', {'type': 'submit', 'class': 'btn btn-primary'}).text('Update').appendTo(form);
  		});

  	});

  </script>
</body>
</html>